.banner{
    display: flex;
    margin: auto;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.banner-image {
    width: 100%;
    border-radius: 5px;
}

.banner-title{
    padding: 2vh;
    font-size: larger;
    font-weight: bold;
}

.banner-description{
    font-style: italic;
}

.banner-content{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 90%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 900px) {
    .banner{
        flex-direction: column;
    }
    .aside-content{
        padding: 1vh;
        margin: auto;
        text-align: center;
    }
}