.search-bar{
    text-align: center;
    margin: auto;
}

.search-input{
    width: 40vw;
    margin: auto;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sort-asce{
    margin: 1vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sort-dsce{
    margin: 1vh ;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-list{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}