.movies{
    text-align: center;
}

.movie-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
}

.movie-box{
    margin-top: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.movie-image{
    border-radius: 5px;
}

.movie-title{
    padding: 5px;
    font-size: 1.5em;
    color: antiquewhite;
}

.movie-description{
    display: none;
}